html, body {
	height: 100%;
	background:rgba(69,69,69,1);
	padding:2em;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}


/* mailbox window
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mailbox {
	background:#f7f7f7;
	height:100%;
	border-radius:1rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.mailbox .toolbar {
	background:#e7e7e7;
	height:6%;
	min-height:50px;
	width:100%;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}

.mailbox .toolbar .buttons {
	top:50%;
	position: relative;
	transform: translateY(-50%);
	margin-left:1rem;
}

.mailbox .toolbar .buttons div {
	width:16px;
	height:16px;
	border-radius:50%;
	background-color:#000;
	display:inline-block;
	margin-left:0.8rem;
}

.mailbox .toolbar .buttons .close {
	background: #ff5f56;
}

.mailbox .toolbar .buttons .minimize {
	background: #ffc02f;
}

.mailbox .toolbar .buttons .maximize {
	background: #d1d1d1;
}

/* mailbox header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.content {
	width:100%;
	height:90%;
	background:#fff;
}

.header {
	height:6rem;
	background:#f1f1f1;
}

.header-content {
	top:50%;
	position: relative;
	transform: translateY(-50%);
}

.logo {
	padding-left:2.4rem;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	font-size:1.8rem;
	display:inline;

}

.logo span {
	letter-spacing:0.08rem;
	color:#bdbdbd;
}

.search {
	display:inline;
	padding-left:3.5rem;
	line-height: 6rem;
}

.search input {
	display:inline;
	margin:0;
	width:35%;
	height:3.4rem;
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;

}

.search button {
	margin: 0 0 0 -5px;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	border:0px;
	background:#387ff4;
	color:#fff;
	height:3.4rem;
}

.account {
	position:absolute;
	right:2.4rem;
	top:50%;
	transform: translateY(-50%);
	font-size:1.4rem;
	color:#aeaeae;
}

.account span {
	width:30px;
	height:30px;
	margin-left:1rem;
	border-radius:50%;
	display:inline-block;
	background:#1f88bd;
	text-align:center;
	color:#fff;
	font-weight:bold;
	padding-top:2px;
	font-size:1.5rem;
	font-weight:normal;

}